/* Fonts */

@font-face {
  font-family: "Modak";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/modak-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/modak-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/rubik-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/rubik-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/rubik-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/rubik-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("/fonts/rubik-v20-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v20-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-offset-2 focus:ring-offset-blue-300;
  }

  *::selection {
    @apply bg-violet-600 text-slate-50;
  }
}

@layer components {
  .btn {
    @apply w-[223px] cursor-pointer rounded-xl border-2 px-6 py-[12px] text-center text-sm font-medium transition-transform hover:scale-[1.03] focus:outline-none focus:ring-2 focus:ring-blue-500 md:w-max md:text-base;
  }

  .btn-cta {
    @apply btn w-max border-none bg-gradient-to-r from-blue-500 to-blue-700 text-base text-slate-50;
  }

  .btn-primary {
    @apply btn border-transparent bg-slate-50 text-slate-900;
  }

  .btn-secondary {
    @apply btn border-slate-100 bg-none text-slate-100;
  }

  .input {
    @apply block w-full rounded-xl bg-slate-700 px-4 py-3 text-sm placeholder:text-slate-500 focus:outline-none focus:ring-2 focus:ring-blue-300 md:px-6 md:py-4 md:text-base;
  }

  .link {
    @apply text-blue-400 underline-offset-2 transition-colors hover:text-blue-300;
  }

  .nav-link {
    @apply text-lg font-semibold text-slate-100 transition hover:text-blue-200 md:text-base md:font-normal;
  }
}
